@import "tailwindcss";
@plugin "daisyui";

@layer components {
    .container-element {
        @apply mx-auto max-w-7xl px-8;
    }

    .active {
        @apply bg-info-content p-3 rounded-md text-neutral-content
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        @apply text-info-content;
    }
}